# EditorConfig is awesome: https://editorconfig.org
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Tab indentation (no size specified)
[*.go]
indent_style = tab

[*{sh,toml,yaml,yml}]
indent_style = space
indent_size = 2

[justfile]
indent_style = space
indent_size = 4
